<div class="row">
  <div class="small-12 medium-4 column">
    Nazwa: <%= f.text_field :name, id: "card-name" %>
    Kategoria: <%= f.select :category_id, @categories %>
    <%= f.hidden_field :url, id: "card-url" %>
    <%= f.submit %>
  </div>

  <div class="small-2 medium-1 column button-container">
    <%= button_tag "<", type:"button", id:"btn-previous" %>
  </div>

  <div class="small-8 medium-6 column">
    <div class='card-image-container'>
      <%= image_tag @card.url, class: "card-image-tag" %>
    </div>
  </div>

  <div class="small-2 medium-1 column button-container">
    <%= button_tag ">", type:"button", id:"btn-next" %>
  </div>
</div>
