<div class="row">
  <div class="small-12 large-5 columns">
    <h6><%= link_to "<< Back to all cards", category_path(@category) %></h6>
  </div>
</div>
<div class="row">
  <div class="small-12 large-5 columns">
    <h2><%= @category.name %></h2>
    <h3><%= @card.name %></h3>
    <div>
      <%= link_to "Download PDF", :action => "show", :format => :pdf, data: {turbolinks: false} %>
    </div>
    <div>
      <%= link_to "Edit card", :action => "edit" %>
    </div>
  </div>
  
  <%= render 'card' %>
</div>
